
<div class="book-blurb">
    <div class="img-container">
        <a href="/tantalus-mirror.html"><img src="/assets/img/tantalus-book-cover-transparent.png" alt="a book cover with a background of stars and a shining, geometric figure in the foreground" width="108px" height="144px" /></a>
    </div>
    <div>
        <h4><em>The Mirror of Tantalus (Beta)</em></h4>
        <small>17K words | 2hr reading time</small>
        <p>When a strange interstellar object enters Earth&rsquo;s system, Charis Samogost joins an unlikely alliance of nations sent to investigate. As they draw nearer to their goal, loyalties are tested, and Charis must decide what&rsquo;s most important to her . . . and what she&rsquo;s willing to do to get it.</p>
        <p><a href="/assets/files/the-mirror-of-tantalus-beta.epub" class="button"><strong>&DownArrowBar; Download epub</strong></a><a href="/tantalus-mirror.html" class="button"><strong>Read online &rarr;</strong></a></p>
    </div>
</div>