<div class="book-blurb">
    <div class="img-container">
        <a href="/maintenance.html"><img src="/assets/img/maintenance-levi-nunnink-cover.png" alt="A man floats down into darkness, surrounded by debris and fish" width="108px" height="108px" /></a>
    </div>
    <div>
        <h4><em>Maintenance</em></h4>
        <small>756 words | 4min reading time</small>
        <p>Jiro has everything in his life perfectly balanced. But then, an unfortunate turn of events threatens to disrupt things.</p>
        <p><a href="/maintenance.html" class="button"><strong>Read online &rarr;</strong></a></p>
    </div>
</div>