<div class="book-blurb">
    <div class="img-container">
        <a href="/beautiful-teeth.html"><img src="/assets/img/beautiful-teeth-levi-nunnink-cover.png" alt="a woman stands on a shabby street that's littered with graffiti" width="108px" height="108px" /></a>
    </div>
    <div>
        <h4><em>Beautiful Teeth</em></h4>
        <small>770 words | 4min reading time</small>
        <p>Red and Floofie are on the hunt to catch an infamous cyber criminal, but all is not as it seems . . . </p>
        <p><a href="/beautiful-teeth.html" class="button"><strong>Read online &rarr;</strong></a></p>
    </div>
</div>