<p class="meta">
    {{ page.date | date: "%b %-d, %Y" }}
    {% if page.maturity %} <span class="pipe">&nbsp;|&nbsp;</span> <a href="{% link status.md %}">{{page.maturity}}</a>{% endif %}
    {% if page.reading_time %} <span class="pipe">&nbsp;|&nbsp;</span> {{page.reading_time}} read{% endif %}
    {% if page.tags %}
        <span class="categories">
            <span class="pipe">&nbsp;|&nbsp;</span> 
        
            {% for tag in page.tags %}
            <a href="/tag/{{ tag | url_encode | downcase }}" class="category">{{ tag }}</a>
            {% endfor %}
        </span>
    {% endif %}
</p>