<span class="meta">
    {{ page.date | date: "%b %-d, %Y" }} <span class="pipe">&nbsp;|&nbsp;</span>
    {% if page.reading_time %}
        {{page.reading_time}}
    {% endif %}
    {% if page.maturity %}
        {% include _pageMaturity.html %}
    {% endif %}
    {% if page.tags %}
        <span class="categories">
            <span class="pipe">&nbsp;|&nbsp;</span> 
        
            {% for tag in page.tags %}
            <a href="/tag/{{ tag | url_encode | downcase }}.html" class="category">{{ tag }}</a>
            {% endfor %}
        </span>
    {% endif %}
</span>
{% if page.description %}
    <p class="summary"><strong>Summary: </strong>
        {{page.description | smartify}}
    </p>
{% endif %}