<hr />

<h4>Rate this note</h4>
<ul>
	<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSchN5N8CoNZrY2_Pi-GqZIWBahV2qWK54LzRMtB1uS0_4XmYA/viewform?usp=pp_url&entry.244341886={{page.title | uri_escape}}&entry.285809989=%F0%9F%91%8D+Really+great.+I+want+more!">👍 Really great. I want more!</a></li>
	<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSchN5N8CoNZrY2_Pi-GqZIWBahV2qWK54LzRMtB1uS0_4XmYA/viewform?usp=pp_url&entry.244341886={{page.title | uri_escape}}&entry.285809989=%F0%9F%A5%B1+Meh.+I+could+take+it+or+leave+it.">🥱 Meh. I could take it or leave it.</a></li>
	<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSchN5N8CoNZrY2_Pi-GqZIWBahV2qWK54LzRMtB1uS0_4XmYA/viewform?usp=pp_url&entry.244341886={{page.title | uri_escape}}&entry.285809989=%F0%9F%91%8E+Yuck.+Had+some+issues.">👎 Yuck. Had some issues.</a></li>
</ul>