<div id="subscribe">
<h2>Want more like this?</h2>
<p>Understand how stories work. Spend less time wrangling your stories into shape and more time writing them.</p>
<form
  action="
          https://buttondown.com/api/emails/embed-subscribe/natelistrom
         "
  method="post"
  class="embeddable-buttondown-form"
>
  <label for="email">Email</label>
  <div>
  <input type="email" name="email" placeholder="you@example.com" />
  <input type="hidden" value="1" name="embed" />
  <input type="submit" value="Sign up &rarr;" />
  </div>
</form>
</div>