<hr />

<div id="subscribe">
<h2>Get free updates</h2>
<p>Thoughtful insights on storytelling, published the first Tuesday of each month.</p>
<form
  action="
          https://buttondown.com/api/emails/embed-subscribe/natelistrom
         "
  method="post"
  class="embeddable-buttondown-form"
>
  <label for="email">Email</label>
  <div>
  <input type="email" name="email" placeholder="you@example.com" />
  <input type="hidden" value="1" name="embed" />
  <input type="submit" value="Sign up &rarr;" />
  </div>
</form>
</div>