---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1>{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <hr />

  {% assign posts = site.posts %}

  {%- if posts.size > 0 -%}
    <div class="post-list">
      <h2>Notes</h2>
      <span class="meta">Rss: <code>feed://natelistrom.com/feed.xml</code></span>

      <ul class="post-list">
        {%- for post in posts -%}
          {% include _postList.html %}
        {%- endfor -%}
      </ul>
    </div>

  {%- endif -%}

  {% include _subscribe.html %}

  <hr />

  <h2 class="smallHeading">Find Nate online</h2>

  <ul>
    {% if site.twitter_url -%}<li>Random bits on <a href="{{ site.twitter_url }}">Twitter</a></li>{%- endif %}
    {% if site.medium_url -%}<li>Writing also on <a href="{{ site.medium_url }}">Medium</a></li>{%- endif %}
    {% if site.behance_url -%}<li>Portfolio of older work on <a href="{{ site.behance_url }}">Behance</a></li>{%- endif %}
    {% if site.linkedin_url -%}<li>Professional info on <a href="{{ site.linkedin_url }}">LinkedIn</a></li>{%- endif %}
  </ul>

</div>
