---
layout: default
---

<div class="home">

  {%- if page.title -%}
    <h1 class="remove">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <hr />

  <!-- Pinned posts -->
  {% for tag in site.tags %}
    {%- if tag[0] == "Featured" -%}
      <h2>Featured</h2>
      <ul class="post-list">
        {% for post in tag[1] %}
          {% include _postList.html %}
        {% endfor %}
      </ul>
    {%- endif -%}
  {% endfor %}

  <hr />

  <!-- Latest posts -->
  {% assign posts = site.posts %}

  {%- if posts.size > 0 -%}
    <div class="post-list">
      <h2>Latest</h2>
      <span class="meta">Rss: <code>feed://natelistrom.com/feed.xml</code></span>

      <ul class="post-list">
        {%- for post in posts limit:5 -%}
          {% include _postList.html %}
        {%- endfor -%}
      </ul>
    </div>

  {%- endif -%}

  <p><a href="/notes.html">Browse all notes</a></p>

  {% include _subscribe.html %}

  <hr />

  <h2 class="smallHeading">Find Nate online</h2>

  <ul>
    {% if site.twitter_url -%}<li>Random bits on <a href="{{ site.twitter_url }}">Twitter</a></li>{%- endif %}
    {% if site.medium_url -%}<li>Writing also on <a href="{{ site.medium_url }}">Medium</a></li>{%- endif %}
    {% if site.behance_url -%}<li>Portfolio of older work on <a href="{{ site.behance_url }}">Behance</a></li>{%- endif %}
    {% if site.linkedin_url -%}<li>Professional info on <a href="{{ site.linkedin_url }}">LinkedIn</a></li>{%- endif %}
  </ul>

</div>
